

@font-face { font-family: '3Dventure'; src: url('./fonts/3Dventure.ttf'); }
@font-face { font-family: '8-bit-pusab'; src: url('./fonts/8-bit-pusab.ttf'); }


.flexstart {
    display: flex;
    justify-content: center;
    align-content: center
}


#start {
    height: 600px;
    width: 100%;
    text-align: center;

    background-image: url("./images/Clover_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.startbutton {
    background-color: #4CBB17;
    width: 140px;
    height: 55px;
    color: white; 
    font-family: '3Dventure'; 
    font-size: 35px;
    text-shadow:
    -1px -1px 0 rgb(17, 39, 17),
    1px -1px 0 rgb(17, 39, 17),
    -1px 1px 0 rgb(17, 39, 17),
    1px 1px 0 rgb(17, 39, 17);;
}

#start h1 {
    font-size: 100px;
    font-family: '3Dventure';
    color: #FFD300;
    text-shadow:
		-1px -1px 0 rgb(17, 39, 17),
		1px -1px 0 rgb(17, 39, 17),
		-1px 1px 0 rgb(17, 39, 17),
		1px 1px 0 rgb(17, 39, 17);
}

#start .p1 {
    font-size: 15px;
    line-height: 2.5em;
    font-family: '8-bit-pusab';
    color: rgb(4, 52, 4);
}

#start .p2 {
    font-size: 10px;
    line-height: 2.5em;
    font-family: '8-bit-pusab';
    color: rgb(4, 52, 4);
   
}

#start .p3 {
    font-size: 15px;
    line-height: 2.5em;
    font-family: '8-bit-pusab';
    color: rgb(8, 19, 8);
}


.game-container{
    position: absolute;
    text-align: center;
    width: 600px;
    height: 320px;
    z-index: -2;
}
#game{
    position: absolute;
    text-align: center;
}
#unlucky {
    display: none;
    line-height: 4.5em;
    font-size: 10px;
    font-family: '8-bit-pusab';
    color: rgb(59, 29, 29);
    position: absolute;
    top: 25%;
}

#win {
    display: none;
    background-color: #FC6600;
    background-image: url("./images/winscreen.jpg");
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 4.5em;
    font-family: '8-bit-pusab';
    color: #FC6600;
    position: absolute;
    height: 320px;
    text-shadow:
    -1px -1px 0 rgb(17, 39, 17),
    1px -1px 0 rgb(17, 39, 17),
    -1px 1px 0 rgb(17, 39, 17),
    1px 1px 0 rgb(17, 39, 17);
}

#greedy{
    display: none;
    background-image: url("./images/Clover_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    line-height: 4.5em;
    font-family: '8-bit-pusab';
    color: #FC6600;
    position: absolute;
    height: 320px;
    width: 600px;
    text-shadow:
    -1px -1px 0 rgb(17, 39, 17),
    1px -1px 0 rgb(17, 39, 17),
    -1px 1px 0 rgb(17, 39, 17),
    1px 1px 0 rgb(17, 39, 17);
}

#greedy h1{
    margin: 15% 0;
}

.tryagainbutton {
    background-color: #4CBB17;
    width: 250px;
    height: 55px;
    color: white; 
    font-family: '3Dventure'; 
    font-size: 35px;
    text-shadow:
    -1px -1px 0 rgb(17, 39, 17),
    1px -1px 0 rgb(17, 39, 17),
    -1px 1px 0 rgb(17, 39, 17),
    1px 1px 0 rgb(17, 39, 17);;
}

.playagainbutton {
    background-color: #4CBB17;
    width: 250px;
    height: 55px;
    color: white; 
    font-family: '3Dventure'; 
    font-size: 35px;
    text-shadow:
    -1px -1px 0 rgb(17, 39, 17),
    1px -1px 0 rgb(17, 39, 17),
    -1px 1px 0 rgb(17, 39, 17),
    1px 1px 0 rgb(17, 39, 17);;
}